<div class="container">
<br><br>
<form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()">
  <table width='400' align='center'>
      <tr height='30'>
          <td colspan='2' align='center'><b> Teste recaptha v3</b><td>
       </tr> 
      <tr height='30'>
        <td>Produto</td>
        <td><input type='text' formControlName='produto' class='form-control'>
          
          
          <small class="text-danger" style='color:red' *ngIf="submitted && aFormGroup.get('produto').hasError('required')" >Produto é requerido</small>
        </td>
     </tr> 
     <tr height='30'>
        <td>Preço</td>
        <td>
            <input type='text' formControlName='preco' class='form-control'>
            
            <small class="text-danger" style='color:red' *ngIf="submitted && aFormGroup.get('preco').hasError('required')">Preço é requerido</small>
            
        
        
        </td>
     </tr>  
  <tr>
    <td colspan='2'>
     

    </td>
  </tr>
 </table>
 <br/>
  <table width='400' align='center'>

  <tr>
    <td align='center'><button class="btn btn-primary" >Teste Cadastro</button></td>  
    
    
    
    </tr>
 

  </table>
</form> 
<br>
<table width='400' align='center'>
  <tr height='30'>
    <td align='center' style='color:blue'><span id='msgTokenSucesso'>{{msgToken}}</span></td>
  </tr>
  <tr height='30'>
      <td align='center' style='color:red'><span id='msgTokenFalha'>{{msgTokenInsussesso}}</span></td>
    </tr>
 </table>
 <br>



